.frame {
  position: relative;
  width: 560px;
  height: 770px;
  background-color: #ffffff;
  border-radius: 50px;
  overflow: hidden;
}

.frame .LOGO {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0px;
  position: absolute;
  top: 128px;
  left: 238px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #0b132b;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Gilroy-Medium", Helvetica;
  font-weight: 500;
  color: #0b132b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .tabs {
  display: flex;
  width: 330px;
  align-items: flex-start;
  padding: 3px;
  position: absolute;
  top: 304px;
  left: 115px;
  background-color: #f7f7fa;
  border-radius: 10px;
}

.frame .oasis-active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 10px;
}

.frame .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-title-tabs-label-input-font-family);
  font-weight: var(--small-title-tabs-label-input-font-weight);
  color: #0b132b;
  font-size: var(--small-title-tabs-label-input-font-size);
  letter-spacing: var(--small-title-tabs-label-input-letter-spacing);
  line-height: var(--small-title-tabs-label-input-line-height);
  white-space: nowrap;
  font-style: var(--small-title-tabs-label-input-font-style);
}

.frame .geya {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #0000001a;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 246px;
  left: 149px;
  font-family: "Gilroy-Bold", Helvetica;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  white-space: nowrap;
  color: #0b132b;
  letter-spacing: 0;
}

.frame .input {
  top: 383px;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  left: 80px;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0b132b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.frame .frame-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 10px;
  border: 1px solid;
  border-color: #3a506b;
}

.frame .div-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .text {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--small-title-tabs-label-input-font-family);
  font-weight: var(--small-title-tabs-label-input-font-weight);
  font-size: var(--small-title-tabs-label-input-font-size);
  line-height: var(--small-title-tabs-label-input-line-height);
  color: #0b132b;
  letter-spacing: var(--small-title-tabs-label-input-letter-spacing);
  font-style: var(--small-title-tabs-label-input-font-style);
}

.frame .input-2 {
  top: 464px;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  left: 80px;
}

.frame .component {
  display: flex;
  width: 138px;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 535px;
  left: 80px;
}

.frame .img {
  position: relative;
  width: 16px;
  height: 16px;
}

.frame .text-wrapper-4 {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: #0b132b;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  letter-spacing: var(--text-letter-spacing);
  white-space: nowrap;
  font-style: var(--text-font-style);
}

.frame .big-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px 17px;
  position: absolute;
  top: 597px;
  left: 202px;
  background-color: #0b132b;
  border-radius: 10px;
}

.frame .text-wrapper-5 {
  font-family: "Gilroy-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  letter-spacing: 0;
  white-space: nowrap;
}
